# ====== 项目基础配置 ======
SECRET_KEY=your-secret-key-here
FLASK_ENV=production

# ====== Neon 云端数据库 ======
DATABASE_URL=postgresql://xxx:xxx@ep-xxx.neon.tech/xxx?sslmode=require

# ====== Redis 缓存/队列 ======
REDIS_URL=redis://127.0.0.1:6379/0

# ====== CST 云端对象存储 ======
CST_AK=
CST_SK=
CST_BUCKET=yunyuyin-music6
CST_DOMAIN=
CST_UPLOAD_URL=
